In [1]:
import pandas as pd

In [2]:
def conta_righe(file_path):
    with open(file_path, 'r') as file:
        numero_righe = len(file.readlines())
    return numero_righe

In [6]:
file_path = "input/merged_data.csv" 
file = pd.read_csv(file_path)
numero_di_righe = conta_righe(file_path)
print("Il file ha", numero_di_righe, "righe.")
file

Il file ha 18443629 righe.

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
18443623,RMCF,10.25,10.10,10.100000,10.07,10.31,22300,2018-08-20,NASDAQ,"ROCKY MOUNTAIN CHOCOLATE FACTORY, INC.",CONSUMER NON-DURABLES,SPECIALTY FOODS
18443624,RMCF,10.23,10.20,10.200000,10.10,10.27,10800,2018-08-21,NASDAQ,"ROCKY MOUNTAIN CHOCOLATE FACTORY, INC.",CONSUMER NON-DURABLES,SPECIALTY FOODS
18443625,RMCF,10.29,10.19,10.190000,10.16,10.31,4700,2018-08-22,NASDAQ,"ROCKY MOUNTAIN CHOCOLATE FACTORY, INC.",CONSUMER NON-DURABLES,SPECIALTY FOODS
18443626,RMCF,10.20,10.23,10.230000,10.20,10.29,7600,2018-08-23,NASDAQ,"ROCKY MOUNTAIN CHOCOLATE FACTORY, INC.",CONSUMER NON-DURABLES,SPECIALTY FOODS
18443627,RMCF,10.35,10.21,10.210000,10.21,10.39,13700,2018-08-24,NASDAQ,"ROCKY MOUNTAIN CHOCOLATE FACTORY, INC.",CONSUMER NON-DURABLES,SPECIALTY FOODS

In [3]:
file_path_1 = "input/merged_data_1.csv" 
file_1 = pd.read_csv(file_path_1)
numero_di_righe_1 = conta_righe(file_path_1)
print("Il file ha", numero_di_righe_1, "righe.")
file_1

Il file ha 24591505 righe.

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
24591499,I7K,15.55,64.10,8.493155,46.39,86.01,293733,2004-06-21,NYSE,Company 3074,FINANCE,Industry 3074
24591500,I7K,70.57,32.86,8.493155,1.74,40.48,144858,2004-06-22,NYSE,Company 3074,FINANCE,Industry 3074
24591501,I7K,93.99,3.54,8.493155,95.46,91.04,187220,2004-06-23,NYSE,Company 3074,FINANCE,Industry 3074
24591502,I7K,13.04,29.87,8.493155,67.45,22.54,110742,2004-06-24,NYSE,Company 3074,FINANCE,Industry 3074
24591503,I7K,98.82,69.69,8.493155,48.25,6.52,217916,2004-06-25,NYSE,Company 3074,FINANCE,Industry 3074

In [4]:
file_path_2 = "input/merged_data_2.csv" 
file_2 = pd.read_csv(file_path_2)
numero_di_righe_2 = conta_righe(file_path_2)
print("Il file ha", numero_di_righe_2, "righe.")
file_2

Il file ha 30739381 righe.

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
30739375,COJ,3.16,18.78,8.493155,12.57,27.07,109370,2004-02-18,NYSE,Company 6148,FINANCE,Industry 6148
30739376,COJ,78.77,11.41,8.493155,61.27,40.11,263508,2004-02-19,NYSE,Company 6148,FINANCE,Industry 6148
30739377,COJ,32.66,67.96,8.493155,98.57,61.37,161800,2004-02-20,NYSE,Company 6148,FINANCE,Industry 6148
30739378,COJ,8.79,33.62,8.493155,79.05,30.92,258117,2004-02-21,NYSE,Company 6148,FINANCE,Industry 6148
30739379,COJ,81.04,73.05,8.493155,76.84,53.83,185814,2004-02-22,NYSE,Company 6148,FINANCE,Industry 6148

In [5]:
file_path_3 = "input/merged_data_3.csv" 
file_3 = pd.read_csv(file_path_3)
numero_di_righe_3 = conta_righe(file_path_3)
print("Il file ha", numero_di_righe_3, "righe.")
file_3

Il file ha 36887258 righe.

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
36887252,MVJ,15.26,10.31,8.493155,82.80,37.47,232375,2008-08-03,NYSE,Company 9222,FINANCE,Industry 9222
36887253,MVJ,90.64,65.66,8.493155,63.54,87.28,224801,2008-08-04,NYSE,Company 9222,FINANCE,Industry 9222
36887254,MVJ,12.55,35.30,8.493155,42.62,97.10,195555,2008-08-05,NYSE,Company 9222,FINANCE,Industry 9222
36887255,MVJ,89.25,27.23,8.493155,95.24,11.23,253933,2008-08-06,NYSE,Company 9222,FINANCE,Industry 9222
36887256,MVJ,58.60,4.98,8.493155,42.98,71.01,179212,2008-08-07,NYSE,Company 9222,FINANCE,Industry 9222