In [5]:
import pandas as pd

In [6]:
def conta_righe(file_path):
    with open(file_path, 'r') as file:
        numero_righe = len(file.readlines())
    return numero_righe

In [7]:
file_path_1 = "merged_data_1.csv"  # Inserisci il percorso del tuo file qui
file_1 = pd.read_csv(file_path_1)
numero_di_righe_1 = conta_righe(file_path_1)
print("Il file ha", numero_di_righe_1, "righe.")
file_1

Il file ha 24591505 righe.

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
24591499,9C1,3.95,62.35,8.493155,66.42,79.21,159106,2018-06-23,NYSE,Company 3074,FINANCE,Industry 3074
24591500,9C1,76.15,78.22,8.493155,86.37,6.04,138491,2018-06-24,NYSE,Company 3074,FINANCE,Industry 3074
24591501,9C1,53.66,33.18,8.493155,64.34,13.72,281433,2018-06-25,NYSE,Company 3074,FINANCE,Industry 3074
24591502,9C1,27.60,62.69,8.493155,40.33,15.62,183500,2018-06-26,NYSE,Company 3074,FINANCE,Industry 3074
24591503,9C1,24.64,54.20,8.493155,65.87,42.55,295889,2018-06-27,NYSE,Company 3074,FINANCE,Industry 3074

In [8]:
file_path_2 = "merged_data_2.csv"  # Inserisci il percorso del tuo file qui
file_2 = pd.read_csv(file_path_2)
numero_di_righe_2 = conta_righe(file_path_2)
print("Il file ha", numero_di_righe_2, "righe.")
file_2

Il file ha 30739381 righe.

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
30739375,L5L,26.47,62.27,8.493155,95.89,17.41,218718,2018-02-19,NYSE,Company 6148,FINANCE,Industry 6148
30739376,L5L,67.04,57.53,8.493155,42.03,10.98,175206,2018-02-20,NYSE,Company 6148,FINANCE,Industry 6148
30739377,L5L,58.89,8.02,8.493155,17.47,50.40,155774,2018-02-21,NYSE,Company 6148,FINANCE,Industry 6148
30739378,L5L,82.50,69.82,8.493155,82.62,94.67,209298,2018-02-22,NYSE,Company 6148,FINANCE,Industry 6148
30739379,L5L,30.14,96.00,8.493155,37.76,29.25,255158,2018-02-23,NYSE,Company 6148,FINANCE,Industry 6148

In [9]:
file_path_3 = "merged_data_3.csv"  # Inserisci il percorso del tuo file qui
file_3 = pd.read_csv(file_path_3)
numero_di_righe_3 = conta_righe(file_path_3)
print("Il file ha", numero_di_righe_3, "righe.")
file_3

Il file ha 36887258 righe.

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
36887252,MJM,44.56,5.29,8.493155,61.26,38.13,277875,2017-10-19,NYSE,Company 9222,FINANCE,Industry 9222
36887253,MJM,50.68,60.61,8.493155,85.30,43.98,171695,2017-10-20,NYSE,Company 9222,FINANCE,Industry 9222
36887254,MJM,53.91,3.29,8.493155,10.09,80.24,170819,2017-10-21,NYSE,Company 9222,FINANCE,Industry 9222
36887255,MJM,18.44,41.20,8.493155,47.59,53.85,177284,2017-10-22,NYSE,Company 9222,FINANCE,Industry 9222
36887256,MJM,94.49,40.62,8.493155,87.46,28.29,249950,2017-10-23,NYSE,Company 9222,FINANCE,Industry 9222